{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
<div class="form">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('To register') }}</button>
{{ form_end(form) }}

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <a class="btn btn-primary" href="{{ path('app_login') }}">
        Back to login
    </a>
</form>
</div>
{% endblock %}
