{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
  <div class="container">
    <h1>Ticket</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ ticket.type }}</td>
            </tr>
            <tr>
                <th>Creator</th>
                <td>{{ ticket.creator.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ticket.status }}</td>
            </tr>
            <tr>
                <th>Assigned</th>
                <td>{{ ticket.assigned.name }}</td>
            </tr>
            <tr>
                <th>Desription</th>
                <td>{{ ticket.desription }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td><a href="{{ asset('uploads/file/' ~ ticket.file) }}">{{ ticket.FileName }}</a></td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ ticket.createdAt ? ticket.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ ticket.updatedAt ? ticket.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('projects_show', {'id': ticket.project.id}) }}">back to project</a>

    <a href="{{ path('tickets_edit', {'project_id': ticket.project.id, 'id': ticket.id}) }}">edit</a>

    {{ include('tickets/_delete_form.html.twig') }}

    <h1>Comments</h1>
      {% for comment in ticket.comments %}
        <div>Author: {{ comment.author.name }}</div>
        <div> {{ comment.context }} </div>
      {% endfor %}
   <h2> add comment</h2>
    {{ form_start(form) }}
    <div class="form-group">
      <div class="form-group">
        <label for="textarea">{{ form_label(form.context) }}</label><br>
        {{ form_widget(form.context) }}
      </div>
      <button type="submit">Save</button>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
